{{> header/admin-nav}}
<div class="CommandUser">
    <div class="title text-center my-5">
        <h3>{{title}}</h3>
    </div>
</div>

<section>

    <div class="vakansi-items-page">
        <div class="container">
            <div class="row">


                <!-- Marketolog -->
                <div class="col-6 ">
                    <div class="box">
                        <div class="box-title">
                            <h2>Marketolog</h2>
                        </div>
                        <div class="menu-title">
                            <h5>Обязанности:</h5>
                        </div>
                        <div class="menu-item">
                            <ul>
                                <li>Разработка и реализация маркетинговых и рекламных стратегий и анализ их
                                    эффективности;</li>
                                <li>Организация рекламы и продвижение услуг сервиса;</li>
                                <li>Разработка планов рекламных мероприятий по одному виду или группе товаров (услуг) и
                                    определение бюджета на их проведение;</li>
                                <li>Оценка эффективности проведенных рекламных мероприятий;</li>
                                <li>Анализ автомобильного рынка конкурентов;</li>
                                <li>Формирование бюджета;</li>
                                <li>Аналитика рынка аналогичных услуг в отрасли;</li>
                                <li>Составление рекомендаций по повышению продаж и узнаваемости бренда.</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Требования:</h5>
                            </div>
                            <ul>
                                <li>Опыт работы в сфере маркетинга от 3 лет;</li>
                                <li>Приветствуется знание Photoshop, Corel Draw или других графических редакторов;</li>
                                <li>Желательное профильное образование;</li>
                                <li>Знание специфики автомобильного рынка (крайне желательно);</li>
                                <li>Базовые знания диджитал маркетинга, копирайтинга;</li>
                                <li>Знание русского и узбекского языка.</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Условия :</h5>
                            </div>
                            <ul>
                                <li>Конкурентоспособная заработная плата (обсуждается при собеседовании);</li>
                                <li>Система оплаты труда - окладно-премиальная;</li>
                                <li>график работы 6/1 с 9:00 до 17:00;</li>
                            </ul>
                        </div>
                        <button onclick="openResumeScreen()">ОТПРАВИТЬ РЕЗЮМЕ</button>
                    </div>
                </div>

                {{!--
                <!-- Web-Designer -->
                <div class="col-6">
                    <div class="box">
                        <div class="box-title">
                            <h2>Web-Designer</h2>
                        </div>
                        <div class="menu-title">
                            <h5>Обязанности:</h5>
                        </div>
                        <div class="menu-item">
                            <ul>
                                <li>дизайн сайтов, блогов, логотипов, баннеров</li>
                                <li>дизайн интерфейсов и онлайн инструментов</li>
                                <li>проектирование и улучшение интерфейсов, исходя из данных аналитики и результатов
                                    тестирования</li>
                                <li>составление work flow для интерфейсов</li>
                                <li>поддержание и развитие существующих проектов</li>
                                <li>работа в команде с разработчиками, аналитиком, копирайтером</li>
                                <li>проведение A/B тестирований</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Требования:</h5>
                            </div>
                            <ul>
                                <li>Figma</li>
                                <li>Adobe XD</li>
                                <li>Adobe Photoshop</li>
                                <li>Adobe Illustrator</li>
                                <li>понимание принципов UX/UI, умение проектировать многофункциональные интерфейсы.</li>
                                <li>портфолио обязательно</li>
                                <li>понимание методологии Mobile First</li>
                                <li>Intermediate English</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Условия:</h5>
                            </div>
                            <ul>
                                <li>график работы 6/1 с 09:00 до 17:00</li>
                                <li>на постоянной основе</li>
                                <li>испытательный срок 2 недели</li>
                                <li>резюме+портфолио</li>
                                <li>тестовое задание</li>
                                <li>собеседование</li>
                            </ul>
                        </div>
                        <button onclick="openResumeScreen()">ОТПРАВИТЬ РЕЗЮМЕ</button>
                    </div>
                </div>

                <!-- Web Developer -->
                <div class="col-6 ">
                    <div class="box">
                        <div class="box-title">
                            <h2>Web-Developer</h2>
                        </div>
                        <div class="menu-title">
                            <h5>Требования:</h5>
                        </div>
                        <div class="menu-item">
                            <ul>
                                <li>Опыт разработки веб приложений от 3-х лет</li>
                                <li>Опыт практического использования PHP, JavaScript, PHP фреймворков, JS
                                    фреймворков, MySQL, Git, Linux</li>
                                <li>Понимание и применение принципов ООП на практике</li>
                                <li>Внимание к деталям, хорошие технические и аналитические навыки</li>
                                <li>Разговорный английский язык уровня intermediate</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Будет плюсом:</h5>
                            </div>
                            <ul>
                                <li>Опыт работы с AWS или другими облачными технологиями</li>
                                <li>Опыт работы с Vue.Js и TypeScript</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Условия работы:</h5>
                            </div>
                            <ul>
                                <li>Оплачиваемые отпуска, больничные листы</li>
                                <li>Большой опыт работы в международной команде</li>
                                <li>Конкурентоспособная заработная плата в долларах США</li>
                                <li>Возможности для профессионального роста</li>
                                <li>Сложные и интересные задачи</li>
                            </ul>
                        </div>
                        <button onclick="openResumeScreen()">ОТПРАВИТЬ РЕЗЮМЕ</button>
                    </div>
                </div>

                <!-- Сopywriter -->
                <div class="col-6 mt-5 ">
                    <div class="box">
                        <div class="box-title">
                            <h2>Сopywriter</h2>
                        </div>
                        <div class="menu-title">
                            <h5>Обязанности:</h5>
                        </div>
                        <div class="menu-item">
                            <ul>
                                <li>Писать без ошибок на русским и на узбекских языках</li>
                                <li>Продвинутый пользователь ПК</li>
                                <li>Умение писать затягивающие и вовлекающие тексты</li>
                                <li>Разработка ярких и цепляющих заголовков сайтов, писем-рассылок, постов для соцсетей
                                </li>
                            </ul>
                            <div class="menu-title">
                                <h5>Требования</h5>
                            </div>
                            <ul>
                                <li>Знание языков русский, узбекский в совершенстве</li>
                                <li>опыт работы копирайтером от 1 года</li>
                                <li>способность быстро вникать, слушать</li>
                                <li>понимание современного, живого стиля коммуникаций</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Условия:</h5>
                            </div>
                            <ul>
                                <li>График работы 6/1 с 09:00-17:00</li>
                                <li>Обед за счет компания</li>
                                <li>Можно работать удалённо</li>
                                <li>Адрес компании г Ташкент метро Дружба Народов</li>
                            </ul>
                        </div>
                        <br> <br>
                        <button onclick="openResumeScreen()">ОТПРАВИТЬ РЕЗЮМЕ </button>
                    </div>
                </div>

                <!-- Content Manager -->
                <div class="col-6 ">
                    <div class="box">
                        <div class="box-title">
                            <h2>Content Manager</h2>
                        </div>
                        <div class="menu-title">
                            <h5>Требования:</h5>
                        </div>
                        <div class="menu-item">
                            <ul>
                                <li>Безупречное владение русским и узбекским языком и писать без орфографических ошибок
                                </li>
                                <li>Опыт работы в этой сфере не менее 6 месяцев;</li>
                                <li>Иметь знания и навыки, связанные с SMM;</li>
                                <li>Графические редакторы на уровне уверенного пользователя, навыки обработки фото и
                                    видео,</li>
                                <li>Чувство стиля, знание трендов,</li>
                                <li>креативность, ответственность, целеустремленность.</li>
                            </ul>
                            <div class="menu-title">
                                <h5>График работы:</h5>
                            </div>
                            <ul>
                                <li>1 смена (FULL TIME)</li>
                                <li> c 09:00 до 17:00</li>
                                <br>
                                <li>2 смена (FULL TIME)</li>
                                <li>с 12:00 до 21:00</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Условия работы:</h5>
                            </div>
                            <ul>
                                <li>Мотивация от нашего Босса Джахангира Пулатова!</li>
                                <li>Дружная молодая команда, которая с радостью примет Вас</li>
                                <li>Регулярные тимбилдинги и вечеринки;</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Гарантии:</h5>
                            </div>
                            <ul>
                                <li>Своевременная и ежегодно возрастающая заработная плата;</li>
                                <li>Постоянное развитие и профессиональный опыт;</li>
                                <li>Современная техника на рабочем месте, для комфортной работы;</li>
                            </ul>
                        </div>
                        <button onclick="openResumeScreen()">ОТПРАВИТЬ РЕЗЮМЕ </button>
                    </div>
                </div>

                <!-- Mobilograph -->
                <div class="col-6 mt-5 ">
                    <div class="box">
                        <div class="box-title">
                            <h2>Mobilograph</h2>
                        </div>
                        <div class="menu-title">
                            <h5>Обязанности:</h5>
                        </div>
                        <div class="menu-item">
                            <ul>
                                <li>Разработка фото, видео-контента для соц. сетей;</li>
                                <li>Качественное создание видео-материалов;</li>
                                <li>Креативные идеи съемок</li>
                                <li>Мониторинг и анализ результатов</li>
                                <li>Анализировать конкурентов</li>
                                <li>Предлагать новые тренды</li>
                                <li>Написание отчетов о результатах своей работы</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Требования:</h5>
                            </div>
                            <ul>
                                <li>Свободное и грамотное владение Русским языком, Узбекский и Английский выше среднего;
                                </li>
                                <li>Опыт работы на аналогичной должности от 12 месяцев;</li>
                                <li>Уметь работать в режиме многозадачности;</li>
                                <li>Креативность;</li>
                                <li>Ответственность;</li>
                                <li>Исполнительность;</li>
                                <li>Обладать отличными коммуникативными навыками.</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Условия:</h5>
                            </div>
                            <ul>
                                <li>График работы: 6/1</li>
                                <li>Доплата от продуктивности работы</li>
                                <li>Питание за счет организации</li>
                                <li>Тип занятости: Полный рабочий день</li>
                                <li>График работы: 6-дневная рабочая неделя</li>
                                <li>Подробности при собеседовании</li>
                            </ul>
                        </div>
                        <br>
                        <button onclick="openResumeScreen()">ОТПРАВИТЬ РЕЗЮМЕ </button>
                    </div>
                </div>

                <!-- SMM-менеджер -->
                <div class="col-6 ">
                    <div class="box">
                        <div class="box-title">
                            <h2>SMM-менеджер</h2>
                        </div>
                        <div class="menu-title">
                            <h5>Обязанности:</h5>
                        </div>
                        <div class="menu-item">
                            <ul>
                                <li>Ведение и полное администрирование страниц компаний в социальных сетях;</li>
                                <li>Грамотное управление командой (копирайтер, дизайнер, переводчик, фотограф);</li>
                                <li>Регулярная аналитика, повышение качества, анализ конкурентов;</li>
                                <li>Ведение отчетности по социальным сетям.</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Будет плюсом:</h5>
                            </div>
                            <ul>
                                <li>Наличие опыта работы в сфере SMM более одного года;</li>
                                <li>Знание особенностей социальных сетей;</li>
                                <li>Коммуникативные способности и креативное мышление.;</li>
                                <li>Грамотный русский язык (обязательно);</li>
                                <li>Предоставление портфолио (обязательно).x</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Условия:</h5>
                            </div>
                            <ul>
                                <li>Работа 6/1;</li>
                                <li>Уютный офис на Дружбе Народов, ароматный кофе и снеки;</li>
                                <li>Участие в амбициозных проектах, стать частью крутой команды.</li>
                            </ul>
                        </div>
                        <br><br> <br>
                        <button onclick="openResumeScreen()">ОТПРАВИТЬ РЕЗЮМЕ </button>
                    </div>
                </div>

                <!-- ВИДЕОМОНТАЖЁР -->
                <div class="col-6 mt-5">
                    <div class="box">
                        <div class="box-title">
                            <h2>Видемонтажёр</h2>
                        </div>
                        <div class="menu-title">
                            <h5>Обязанности:</h5>
                        </div>
                        <div class="menu-item">
                            <ul>
                                <li>работать с зеленым фоном</li>
                                <li>Видеомонтаж</li>
                                <li>Видеооператор</li>
                                <li>Моушн-графика</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Требования:</h5>
                            </div>
                            <ul>
                                <li>Знание Adobe Premiere Pro</li>
                                <li>Базовые знания по цветокоррекции</li>
                                <li>Базовое знание Adobe After Effects и Adobe Photoshop</li>
                                <li>Базовые знание 3D, 4D Cinema</li>
                                <li>Грамотность</li>
                                <li>Усидчивость</li>
                                <li>Ответственность</li>
                                <li>Внимание к мелким деталям</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Условия:</h5>
                            </div>
                            <ul>
                                <li>Компания занимается производством электрощитов и сборкой электрощитов, дистрибюцей,
                                    оптовая торговля</li>
                                <li>Рабочая неделя 6/1</li>
                                <li>Режим работы с 9:00-17:00</li>
                                <li>Обед за счёт кампании</li>
                                <li>Дружный коллектив</li>
                                <li>Офис оснащён всеми удобствами для работника</li>
                            </ul>
                        </div>
                        <button onclick="openResumeScreen()">ОТПРАВИТЬ РЕЗЮМЕ</button>
                    </div>
                </div>

                <!-- Graphic Designer -->
                <div class="col-6 ">
                    <div class="box">
                        <div class="box-title">
                            <h2>Graphic Designer</h2>
                        </div>
                        <div class="menu-title">
                            <h5>Обязанности:</h5>
                        </div>
                        <div class="menu-item">
                            <ul>
                                <li>Визуал для соц сетей</li>
                                <li>Разработка рекламных материалов</li>
                                <li>Разработка баннеров ,фирменного стиля</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Будет плюсом:</h5>
                            </div>
                            <ul>
                                <li>Знание photoshop AdobeXD/Adobe illustrator</li>
                                <li>Портфолио работ обязательно</li>
                                <li>Знание русского языка и узб.</li>
                            </ul>
                            <div class="menu-title">
                                <h5>Условия:</h5>
                            </div>
                            <ul>
                                <li>Работа в молодой дружной команде</li>
                                <li>График 6/1 с 09:00 до 17:00</li>
                            </ul>
                        </div>
                        <button onclick="openResumeScreen()">ОТПРАВИТЬ РЕЗЮМЕ </button>
                    </div>
                </div> --}}

            </div>
        </div>
    </div>

</section>


{{!-- Bootstrap JS Ulanishi --}}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
