{{> header/navbar}}
<!-- Section Starting -->
<section>
    <!-- List Group Items -->
    <div class="contact-list-group-items">
        <div class="container ">
            <div class="succes-screen">
                <div class="row">
                    <div class="col-5 m-auto text-center box">
                        <div class="check-mark">
                            <i class="bi bi-patch-check"></i>
                        </div>
                        <h5>Sizning Xabaringiz Muvaffaqiyatli yuborildi!</h5>
                        <button>
                            <i class="bi bi-reply-fill"></i>
                            <a href="/contact">Orqaga</a></button>
                    </div>
                </div>
            </div>
            <div class="row flex-column contact-page">
                <div class="col-12">
                    <div class="list-group" id="list-tab" role="tablist">

                        <!-- Button father -->

                        <!-- Клиентам -->
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                            href="#list-home" role="tab" aria-controls="home">Клиентам</a>


                        <!-- Партнёрам-->
                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                            href="#list-messages" role="tab" aria-controls="messages">Партнёрам</a>

                        <!-- Соискателям -->
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                            href="#list-settings" role="tab" aria-controls="settings">Отправьте резюме</a>

                    </div>
                </div>

                <div class="col-12">
                    <div class="tab-content" id="nav-tabContent">

                        <!-- Button bosilganda u haqida ma\lumot chiqishi -->

                        <!-- Клиентам -->
                        <div class="tab-pane fade show active adress-page" id="list-home" role="tabpanel"
                            aria-labelledby="list-home-list">
                            <div class="row justify-content-start">
                                <div class="col-6">
                                    <div class="adress-text-page">
                                        <h3>Офис MAJOR</h3>
                                        <p>Мы работаем по будням, с 08:00 до 20:00</p>
                                        <p>Узбекистан, Ташкент, Чиланзарйский район, улица М. Гафурова 14/1</p>
                                        <a href="#">+998-77-010-80-00</a>
                                    </div>
                                    <div class="row justify-content-start link-page ">
                                        <div class="col-6 email-box ">
                                            <h3>Email</h3>
                                            <a href="#">info@Major.uz</a>
                                        </div>
                                        <div class="col-6 icon-box ">
                                            <h3>Соцсети</h3>
                                            <div class="icon-page">
                                                <a href="#"><i class="bi bi-facebook"></i></a>
                                                <a href="#"><i class="bi bi-telegram"></i></a>
                                                <a target="_blank" href="https://www.instagram.com/majormedia.uz/"><i class="bi bi-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 p-0">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1260.0929800632468!2d69.2446669193979!3d41.30836162793725!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b4305d7def5%3A0xef1da19bf0896bc1!2z0KLQsNGI0LrQtdC90YI!5e0!3m2!1sru!2s!4v1669960820455!5m2!1sru!2s"
                                        width="520" height="458" style="border:0;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>

                        <!-- Партнёрам -->
                        <div class="tab-pane fade" id="list-messages" role="tabpanel"
                            aria-labelledby="list-messages-list">
                            <div class="partner-page">
                                <div class="row">
                                    <div class="col-8 left-box">
                                        <h3>Инфопартнёрам</h3>
                                        <p>Мы придерживаемся принципов честного открытого диалога. Общение, экспертиза,
                                            реализация совместных проектов — по любому вопросу обращайся в пресс-службу
                                            WEBNOW</p>
                                        <a href="#">info@major.uz</a>
                                    </div>
                                    <div class="col-4 right-box">
                                        <h4>Полезные материалы</h4>
                                        <div class="row flex-column align-content-around">
                                            <div class="box">
                                                <a href="#">
                                                    <div class="text-page">
                                                        <h6>Презентация WEBNOW</h6>
                                                        <span>pdf, 7mb</span>
                                                    </div>
                                                    <div class="download-icon">
                                                        <i class="bi bi-download"></i>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="box my-3">
                                                <a href="#">
                                                    <div class="text-page">
                                                        <h6>Презентация WEBNOW (вертикальный)</h6>
                                                        <span>pdf, 7mb</span>
                                                    </div>
                                                    <div class="download-icon">
                                                        <i class="bi bi-download"></i>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="box">
                                                <a href="#">
                                                    <div class="text-page">
                                                        <h6>Презентация WEBNOW (горизонтальный)</h6>
                                                        <span>pdf, 7mb</span>
                                                    </div>
                                                    <div class="download-icon">
                                                        <i class="bi bi-download"></i>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Соискателям -->
                        <div class="tab-pane fade" id="list-settings" role="tabpanel"
                            aria-labelledby="list-settings-list">
                            <div class="submit-resume-page">
                                <h2>Отправьте резюме</h2>
                                <p>Мы открываем новые направления, запускаем проекты, поэтому у нас всегда есть
                                    интересные вакансии в разных областях: реклама, маркетинг, продажи, разработка
                                    сайтов и т. п. Станьте частью WEBNOW!</p>
                                <div class="form-page">
                                        <form action="/contact" method="POST" >
                                        <div class="form-row d-flex justify-content-between">
                                            <div class="form-group col-md-6 ">
                                               <input type="text" class="form-control name_input " placeholder="Имя" name="userName" required />
                                            </div>
                                            <div class="form-group col-md-6 ">
                                                <select id="inputState" name="category" class="form-control category" required>
                                                    <i class="bi bi-caret-down"></i>
                                                    <option selected disabled class="arrow-icon">Выберите вакансию  &#9660 </option>
                                                    <option name="Web Developer" >Web Developer</option>
                                                    <option name="SMM" >SMM</option>
                                                    <option name="Grafic Design" >Grafic Design</option>
                                                    <option name="Mobilograf" >Mobilograf</option>
                                                    <option name="Other" >Другой...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row d-flex">
                                            <div class="form-group col-md-6">
                                                      <input type="text" class="form-control formatMaskNumber" id="inputCity"
                                                    placeholder="Телефон" name="phoneNumber" required />
                                            </div>

                                            <div class="form-group col-6">
                                                    <input type="text" class="form-control" id="inputZip"
                                                    placeholder="Ссылка на резюме" name="adressResume">
                                            </div>
                                          
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <button type="submit" id="contactButton">Отправить заявку </button>
                                            </div>
                                            <div class="col-5 button-text">
                                                <p>Нажимая кнопку, Вы разрешаете обработку персональных данных и
                                                    соглашаетесь с политикой конфиденциальности</p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://unpkg.com/imask"></script>
<script src="/javascripts/sendFileResume.js"></script>
<script src="/javascripts/sendResume.js"></script>

{{> Footer/footer}}