<div class="sendResumeScreen">
    <div class="close-button" onclick="closeResumeScreen()">
        <i class="bi bi-x"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 box">
                <form id="form-message" action="sendResumeScreen" method="POST" enctype="multipart/form-data" >
                    <div class="title">
                        <h2>Отправьте заявку и наш менеджер свяжется с Вами</h2>
                    </div>
                    <div class="body-page">
                        <input type="text" name="name" id="userName" placeholder="Имя" autocomplete="off" required>
                         <select id="inputState"  class="category" required > 
                                                        <option disabled></option>
                                                         <optgroup label="Другая информация">
                                                            <option name="Kонсультацию">Получить консультацию</option>
                                                            <option name="Kонсультацию">Наши услуги</option>
                                                         <optgroup label="Узнать Подробнее">
                                                           <option name="Реклама и продвижение в Google и Яндекс ">Реклама и продвижение  в Google и Яндекс </option>
                                                           <option name="Реклама и продвижение  в соцсетях (SMM)">Реклама и продвижение в соцсетях Smm</option>
                                                           <option name="Создание WEB-сайтов">Создание WEB-сайтов</option>
                                                        </optgroup>
                                                         <optgroup label="Вакансии">
                                                          <option name="ВАКАНСИИ / Bеб-разработчик" >Bеб-разработчик</option>
                                                          <option name="ВАКАНСИИ / SMM">Smm</option>
                                                          <option name="ВАКАНСИИ / Графический дизайн" >Графический дизайн</option>
                                                          <option name="ВАКАНСИИ / Мобилограф" >Мобилограф</option>
                                                          <option name="ВАКАНСИИ / Другой " >Другой...</option>
                                                        </optgroup>
                         </select>
                        <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Телефон" autocomplete="off" required>
                        <button id="submit-btn" value="Отправить заявку" type="submit">Отправить заявку</button>
                    </div>
                    <div class="success-page">
                        <div class="check">
                            <i class="bi bi-patch-check-fill"></i>
                        </div>
                        <h3>Спасибо за заявку!</h3>
                        <p>Наш менеджер свяжется с Вами!</p>
                        <a href="/"><i class="bi bi-arrow-left"></i> Вернуться на главную</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


