{{> header/navbar}}
<section>

    <div class="yandex header-banner ">
        <div class="container">
            <div class="col-8">
                <h2>HTML5 БАННЕРЫ</h2>
                <p class="title">[ПРОФЕССИОНАЛЬНАЯ НАСТРОЙКА ВСЕХ ИНСТРУМЕНТОВ]</p>
                {{!-- <p class="title-text">от 1 месяца и 1 200 000 сум</p> --}}
                <span>Когда конверсия превыше всего.</span> <br>
                <button onclick="openResumeScreen()">Получить консультацию</button>
            </div>
        </div>
    </div>

    {{!-- body text --}}
    <div class="section-body-text">
        <h3>HTML5 БАННЕРЫ - ЭТО</h3>
        <div class="container">
            <div class="row ">
                <div class="col-6">
                    <p>При выборе варианта сайта для бизнеса следует использовать рациональный подход. Максимальный
                        набор опций не всегда оправдан – иногда достаточно упрощенной версии, которая будет выполнять
                        представительские функции. <strong>Создание Promo Page</strong> позволит решить несколько
                        основных задач: привлечение и удержание потенциальных клиентов, формирование позитивного образа
                        фирмы, побуждение к заказу. Далее разберем направление подробно.</p>
                    <br>
                    <p><strong>Разработка одностраничного сайта в Ташкенте: особенности</strong>
                        Promo Page представляет собой облегченный вариант веб-страницы, имеет минимальное количество
                        экранов (до 5) и упрощенный дизайн. Достоинства версии в адаптивности к устройствам любого типа,
                        включая устаревшие – такой подход позволяет максимально охватить аудиторию посетителей. При этом
                        ресурса вполне достаточно для представления списков товаров, размещения рекламы и объявлений (об
                        акциях компании, мероприятиях, скидках и т. п). Ключевой посыл – сфокусировать внимание
                        пользователей на максимально проработанной презентации.</p>
                    <br>
                    <p><strong>Особенности разработки Promo Page:</strong>
                    <ul>
                        <li>Структурированный анализ рынка</li>
                        <li>Упрощение не в ущерб ключевым аспектам, а за счет удаление непрофильных опций.</li>
                        <li>Учитывается профиль компании</li>
                    </ul>
                    </p>
                </div>
                <div class="col-6">
                    <p><strong>Создание одностраничного сайта</strong> подразумевает: <br>
                    <ul>
                        <li>Возможность быстрого запуска, упрощенное редактирование, возможности для экспериментов и
                            тестирования</li>
                        <li>Повышенную конверсию, за счет яркого, привлекательного дизайна и понятной структуры</li>
                        <li>Адаптивность под любые устройства, переменную скорость интернет-соединения и различные типы
                            браузеров</li>
                    </ul>
                    </p>
                    <p>С точки зрения психологии, большинство людей не задерживается долго на слишком больших объемах
                        информации и пропускает длинные тексты, предпочитает не тратить время на изучение сложных
                        сайтов. Краткость – сестра таланта и упрощенный одностраничный сайт способен обеспечить максимум
                        конверсии.</p>
                    <p>Что выбрать: многостраничный сайт или <strong>Promo Page</strong>
                        Рассматриваемый вариант подойдет в случаях, когда основной объем заказов не идет напрямую через
                        сайт, но необходимо быстро повысить узнаваемость компании. Promo Page “заточен” на создание
                        приятного первого впечатления и побуждения посетителя к дальнейшим действиям. Выбор всегда
                        зависит от круга поставленных задач и характера последующего использования сайта, специфики
                        самой фирмы.</p>
                </div>
            </div>
        </div>
    </div>

    {{!--СХЕМА РАБОТЫ page --}}
    <div class="work-plan-page">
        <h3>СХЕМА РАБОТЫ</h3>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-4 box">
                    <div class="box-header">
                        <h5>1. СОЗДАНИЕ <br> ПРОТОТИПА</h5>
                        <img src="/images/box-icon/lp-is-icon-44.png" alt="">
                    </div>
                    <p>Собираем информацию о целях и концепции страницы. Анализируем и сегментируем целевую аудиторию.
                        Готовим краткий обзор решений конкурентов. Продумываем возможные сценарии поведения
                        пользователей и разрабатываем UI-прототип.</p>
                </div>
                <div class="col-4 box">
                    <div class="box-header">
                        <h5>2. ПОДГОТОВКА <br> КОНТЕНТА</h5>
                        <img src="/images/box-icon/work-plan-section-block-img-2 -search.png" alt="">
                    </div>
                    <p>Профессиональный копирайтер приступает к написанию уникального продающего контента. Сбор
                        семантического ядра, анализ поисковых запросов. LSI-копирайтинг, SEO-текста или простой
                        информативный текст исходя из целей и задач.</p>
                </div>
                <div class="col-4 box">
                    <div class="box-header">
                        <h5>3. РАЗРАБОТКА <br> ДИЗАЙНА</h5>
                        <img src="/images/box-icon/work-plan-section-block-img-3-led.png" alt="">
                    </div>
                    <p>UX-UI-специалист прорабатывает прототип сайта (desktop и мобильную версию) и отправляет
                        дизайнеру. После получения фирменного стиля и ТЗ отрисовываем адаптивный дизайн сайта. После
                        утверждения отправляем макет на верстку.</p>
                </div>
                <div class="col-4 box my-5 ">
                    <div class="box-header">
                        <h5>4. ВЕРСТКА <br> СТРАНИЦЫ</h5>
                        <img src="/images/box-icon/lp-is-icon-44.png" alt="">
                    </div>
                    <p>Приступаем к адаптивной и кроссбраузерной верстке с сохранением семантики. Используем современные
                        подходы и решения для получения максимально эффективного решения. При необходимости интегрируем
                        с CMS-системой.</p>
                </div>
                <div class="col-4 box my-5 ">
                    <div class="box-header">
                        <h5>5. SEO- <br> ОПТИМИЗАЦИЯ</h5>
                        <img src="/images/box-icon/lp-is-icon-33.png" alt="">
                    </div>
                    <p>Заполняем META-теги, создаем динамическую карту сайта. Работаем с внутренней оптимизацией сайта,
                        так и с внешней. Интегрируем счетчики аналитики, добавляем сайт в Яндекс.Вебмастер и Google
                        Search Console..</p>
                </div>
                <div class="col-4 box my-5 ">
                    <div class="box-header">
                        <h5>6. ЗАПУСК <br> САЙТА</h5>
                        <img src="/images/box-icon/icon 1.png" alt="">
                    </div>
                    <p>Оптимизируем код, сжимаем изображения, настраиваем кэширование. Проводим обучение, отправляем
                        доступы от сайта заказчику. Проводим бесплатную консультацию по дальнейшему продвижению сайта в
                        интернете.</p>
                </div>
            </div>
            <div class="text-center">
                <button onclick="openResumeScreen()">ЗАПОЛНИТЬ БРИФ <i class="bi bi-arrow-right"></i></button>
            </div>
        </div>
    </div>

    {{!-- Web Site About --}}
    <div class="web-site-about">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-6 left-page">
                    <div class="title">
                        <img src="/images/box-icon/qoshtirnoq.png" alt="">
                        <h1>РЕКЛАМА – ЭТО ДВИГАТЕЛЬ</h1>
                    </div>
                    <p>
                        и от того, насколько грамотно он будет построен зависит вся ваша дальнейшая деятельность в
                        интернете. Мы создали свыше <strong>360 сайтов</strong> за <strong>13 лет</strong> и нам есть
                        чем гордиться.
                        <br>
                    </p>
                    <span>
                        Юлия Нурзалиева,<br>
                        руководитель SMM-отдела
                    </span>
                </div>
                <div class="col-6 right-page">
                    <img class="img-fluid" src="/images/Uslugi/Reklama/julia-smm-page.png" alt="">
                </div>
            </div>
        </div>
    </div>

    {{!-- СТОИМОСТЬ РАЗРАБОТКИ | price web page --}}
    <div class="price-web-page">
        <h3>СТОИМОСТЬ РАЗРАБОТКИ</h3>
        <div class="price-about">
            <div class="container bg-light">
                <div class="row">
                    <div class="col-8 left-page">
                        <div class="title">
                            <h3>[РАЗРАБОТКА HTML5 БАННЕРА]</h3>
                        </div>
                        <ul>
                            <li>Детальное изучение тематики, конкурентов</li>
                            <li>Анализ и сбор семантического ядра</li>
                            <li>Составление креативов, подготовка изображений</li>
                            <li>Настройка и запуск рекламных объявлений</li>
                            <li>1 месяц ведения</li>
                            <li>Предоставление отчетов по запросу</li>
                        </ul>
                        <span>* детальное ТЗ составляется при обсуждении проекта</span>
                    </div>
                    <div class="col-4 right-page">
                        <div class="box">
                            <br>
                            {{!-- <h3>3 000 000 сум</h3> --}}
                            <span>[БЕЗ НДС]</span>
                        </div>
                        <div class=" send-Btn text-center">
                            <button onclick="openResumeScreen()">Оставьте заявку <i class="bi bi-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- SPECIALIST Page --}}
    <div class="specialist-page">
        <div class="container">
            <h1>4 СПЕЦИАЛИСТ</h1>
            <p>ПРИМЕТ УЧАСТИЕ В ПРОДВИЖЕНИИ ВАШЕГО ПРОЕКТА!</p>
            <div class="row justify-content-between">
                <div class="col-3 text-center">
                    <img src="/images/Uslugi/Reklama/julia-n-200x230-1.png" alt="">
                    <div class="title-name">
                        <h3>Юлия Нурзалиева</h3>
                        <span>руководитель отдела</span>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <img src="/images/Uslugi/Reklama/julia-n-200x230-1.png" alt="">
                    <div class="title-name">
                        <h3>Юлия Нурзалиева</h3>
                        <span>руководитель отдела</span>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <img src="/images/Uslugi/Reklama/julia-n-200x230-1.png" alt="">
                    <div class="title-name">
                        <h3>Юлия Нурзалиева</h3>
                        <span>руководитель отдела</span>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <img src="/images/Uslugi/Reklama/julia-n-200x230-1.png" alt="">
                    <div class="title-name">
                        <h3>Юлия Нурзалиева</h3>
                        <span>руководитель отдела</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Consultation page -->
    {{> Page/section-consultation}}

       <!-- Section Client Page -->
    {{> Page/section-our-client}}

    {{!-- Section request Page  --}}
    {{> Page/section-request}}

</section>
{{> Footer/footer}}