{{> header/navbar}}

{{!-- Section start --}}

<section class="uslugi-page">
    <!-- Reviews banner -->
    <div class="site-visit-banner header-banner ">
        <div class="container">
            <div class="col-8">
                <h2>САЙТ-ВИЗИТКА</h2>
                <p class="title">[ИНФОРМАТИВНЫЙ САЙТ]</p>
                <span>Когда конверсия превыше всего.</span> <br>
                <button onclick="openResumeScreen()">Получить консультацию</button>
            </div>
        </div>
    </div>

    {{!-- body text --}}
    <div class="section-body-text">
        <h3>САЙТ-ВИЗИТКА</h3>
        <div class="container">
            <div class="row ">
                <div class="col-6">
                    <p>Открыть <strong>сайт для компании</strong> можно в нескольких вариантах. При необходимости создать именно информативный проект, следует использовать <strong>сайт визитку</strong>. Такой ресурс может содержать от одной до пяти страниц. Размещение только самой необходимой посетителям информации позволяет акцентировать на ключевых предложениях и преимуществах компании.</p>
                    <p>При первом посещении <strong>сайта-визитки</strong> потенциальный клиент сразу получает представление о компании и предлагаемых услугах. На первом месте краткость, информативность и привлекательное оформление. Ресурс не должен быть перегружен, главный посыл: позитивное впечатление за первые минуты пребывания на сайте. Посетитель сразу находит именно то, что ищет и переходит к переговорам с компанией для оформления заказа.</p>
                    <p>Важные детали</strong>
                    <p>К основным особенностям <strong>сайтов-визиток</strong> относятся:</strong>
                    <br>
                    <ul>
                        <li>Простой, лаконичный дизайн с выделением сути предложений</li>
                        <li>Возможность быстрого запуска ресурса в работу и хорошая конверсия (за счет ориентированности на пользователей с разными возможностями)</li>
                        <li>SEO-оптимизированный контент</li>
                        <li>Адаптивность к устройствам любого типа</li>
                    </ul>
                    </p>
                    <p>При оформлении сайтов данного типа специалисты руководствуются следующими правилами:</p>
                    <ul>
                        <li>Обязательно указываются сведения о компании, включая все актуальные контакты</li>
                        <li>Выставляется перечень основных товаров/услуг</li>
                        <li>При продвижении анализируется и сегментируется потенциальная аудитория. Подача контента носит адресный характер</li>
                    </ul>
                </div>
                <div class="col-6">
                    <p>Дополнительная информация размещается при наличии возможности: прайс, лист заказа и т. п. Общее условие: ничего лишнего – только то, что будет действительно полезно потенциальному клиенту.<br></p> <br>
                    
                    <p>Наши преимущества <br> В digital-агентстве Webnow.uz <strong>разработкой и созданием сайтов-визиток</strong> занимается команда опытных профессионалов – над каждым проектом работает не менее пяти специалистов. Смысл такого подхода в совмещении лучших навыков от мастеров своего дела.</p> <br>

                    <p>Процесс <strong> создания сайта-визитки </strong> включает в себя:
                    <br>
                    <ul>
                        <li>Тщательное изучение направления деятельности компании-заказчика</li>
                        <li>Индивидуальный анализ основных конкурентов и особенностей рынка</li>
                        <li>Создание прототипа</li>
                        <li>Подготовку дизайна, соответствующего выбранной тематике</li>
                        <li>SEO-оптимизацию</li>
                        <li>Верстка страниц (адаптивная, кроссбраузерная)</li>
                        <li>Размещение на хостинге и в основных поисковиках (Google, Яндекс)</li>
                        <li>Также возможно подключение онлайн-статистики, интеграция с CMS</li>
                        <li>При запуске сайта оптимизируется исходный код, форматируются изображения, настраивается кэширование.</li>
                    </ul>
                    </p>
                    <p>Мы работаем по официальному договору, с твердыми гарантиями исполнения всех взятых перед клиентами обязательств в срок. Возможна любая форма расчетов. Дополнительный бонус – бесплатное годовое техническое обслуживание и оперативные консультации от экспертов.</p>
                </div>
            </div>
            <div class="box-page mt-5">
                <div class="row justify-content-between">
                    <div class="col-3 box">
                        <img class="img-fluid mb-5" src="/images/box-icon/icon 1.png" alt="">
                        <h6>Быстрый запуск</h6>
                        <p>Для тестирования ниши, своих идей и гипотез. Когда время играет решающую роль</p>
                    </div>
                    <div class="col-3 box">
                        <img class="img-fluid mb-5" src="/images/box-icon/lp-is-icon-22.png" alt="">
                        <h6>Высокая конверсия</h6>
                        <p>Понятная структура и яркий дизайн увеличат количество заявок с сайта</p>
                    </div>
                    <div class="col-3 box">
                        <img class="img-fluid mb-5" src="/images/box-icon/lp-is-icon-33.png" alt="">
                        <h6>Адаптивность</h6>
                        <p>Сайт оптимизирован под все устройства и браузеры</p>
                    </div>
                    <div class="col-3 box">
                        <img class="img-fluid mb-5" src="/images/box-icon/lp-is-icon-44.png" alt="">
                        <h6>Продающий копирайтинг</h6>
                        <p>Профессиональный копирайтер напишет текста, после которых посетитель не сможет устоять</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- portfolio page --}}
    <div class="web-portfolio-page">
        <h3>НАШЕ ПОРТФОЛИО</h3>

        <div class="container">
            <div class="row">
            {{#each dbWebPortfolio}}
                <div class="col-xl-4 col-lg-6 box  my-3 " >
                    <div class="image">
                        <a href="#">
                            <img src="/images/{{this.img}}" alt="{{this.webAdress}}">
                        </a>
                    </div>
                    <div class="body-text ">
                        <h6 class="m-0">Проект: <strong>{{this.webAdress}}</strong></h6>
                        <p class="m-0">{{this.aboutText}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="div text-center">
                <button><a href="/portfolio">ВСЕ РАБОТЫ <i class="bi bi-arrow-right"></i></a></button>
            </div>
        </div>
    </div>

      {{!--СХЕМА РАБОТЫ page --}}
    <div class="work-plan-page">
        <h3>СХЕМА РАБОТЫ</h3>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-4 box">
                    <div class="box-header">
                        <h5>1. СОЗДАНИЕ <br> ПРОТОТИПА</h5>
                        <img src="/images/box-icon/lp-is-icon-44.png" alt="">
                    </div>
                    <p>Собираем информацию о целях и концепции страницы. Анализируем и сегментируем целевую аудиторию.
                        Готовим краткий обзор решений конкурентов. Продумываем возможные сценарии поведения
                        пользователей и разрабатываем UI-прототип.</p>
                </div>
                <div class="col-4 box">
                    <div class="box-header">
                        <h5>2. ПОДГОТОВКА <br> КОНТЕНТА</h5>
                        <img src="/images/box-icon/work-plan-section-block-img-2 -search.png" alt="">
                    </div>
                    <p>Профессиональный копирайтер приступает к написанию уникального продающего контента. Сбор
                        семантического ядра, анализ поисковых запросов. LSI-копирайтинг, SEO-текста или простой
                        информативный текст исходя из целей и задач.</p>
                </div>
                <div class="col-4 box">
                    <div class="box-header">
                        <h5>3. РАЗРАБОТКА <br> ДИЗАЙНА</h5>
                        <img src="/images/box-icon/work-plan-section-block-img-3-led.png" alt="">
                    </div>
                    <p>UX-UI-специалист прорабатывает прототип сайта (desktop и мобильную версию) и отправляет
                        дизайнеру. После получения фирменного стиля и ТЗ отрисовываем адаптивный дизайн сайта. После
                        утверждения отправляем макет на верстку.</p>
                </div>
                <div class="col-4 box my-5 ">
                    <div class="box-header">
                        <h5>4. ВЕРСТКА <br> СТРАНИЦЫ</h5>
                        <img src="/images/box-icon/lp-is-icon-44.png" alt="">
                    </div>
                    <p>Приступаем к адаптивной и кроссбраузерной верстке с сохранением семантики. Используем современные
                        подходы и решения для получения максимально эффективного решения. При необходимости интегрируем
                        с CMS-системой.</p>
                </div>
                <div class="col-4 box my-5 ">
                    <div class="box-header">
                        <h5>5. SEO- <br> ОПТИМИЗАЦИЯ</h5>
                        <img src="/images/box-icon/lp-is-icon-33.png" alt="">
                    </div>
                    <p>Заполняем META-теги, создаем динамическую карту сайта. Работаем с внутренней оптимизацией сайта,
                        так и с внешней. Интегрируем счетчики аналитики, добавляем сайт в Яндекс.Вебмастер и Google
                        Search Console..</p>
                </div>
                <div class="col-4 box my-5 ">
                    <div class="box-header">
                        <h5>6. ЗАПУСК <br> САЙТА</h5>
                        <img src="/images/box-icon/icon 1.png" alt="">
                    </div>
                    <p>Оптимизируем код, сжимаем изображения, настраиваем кэширование. Проводим обучение, отправляем
                        доступы от сайта заказчику. Проводим бесплатную консультацию по дальнейшему продвижению сайта в
                        интернете.</p>
                </div>
            </div>
            <div class="text-center">
                <button onclick="openResumeScreen()">ОСТАВИТЬ ЗАЯВКУ <i class="bi bi-arrow-right"></i>
            </button>
            </div>
        </div>
    </div>

     {{!-- Web Site About --}}
    <div class="web-site-about">
        <div class="container">
            <div class="row justify-content-between">
            <div class="col-6 left-page">
                <div class="title">
                    <img src="/images/box-icon/qoshtirnoq.png" alt="">
                    <h1>САЙТ – ЭТО ФУНДАМЕНТ</h1>
                </div>
                <p>
                    и от того, насколько грамотно он будет построен зависит вся ваша дальнейшая деятельность в
                    интернете. Мы создали свыше <strong>360 сайтов</strong> за <strong>13 лет</strong> и нам есть чем гордиться. 
                    <br>
                    </p>
                    <span>
                    Дмитрий Наумов,<br>
                    руководитель отдела по разработке сайтов
                    </span>
            </div>
            <div class="col-6 right-page">
                <img class="img-fluid" src="/images/people/dmitriy-webdev.png" alt="">
            </div>
            </div>
        </div>
    </div>

    {{!-- СТОИМОСТЬ РАЗРАБОТКИ | price web page --}}
    <div class="price-web-page">
       <h3>СТОИМОСТЬ РАЗРАБОТКИ</h3>
       <div class="price-about">
       <div class="container bg-light">
        <div class="row">
            <div class="col-8 left-page">
                <div class="title"><h3>[РАЗРАБОТКА САЙТА-ВИЗИТКИ]</h3></div>
                <ul>
                    <li>Детальное изучение тематики, конкурентов</li>
                    <li>Разработка дизайна</li>
                    <li>Интеграция CMS-системы</li>
                    <li>Написание уникального текста</li>
                    <li>Базовая SEO-оптимизация</li>
                    <li>Домен и хостинг на 1 год</li>
                    <li>Мобильная версия</li>
                    <li>Подключение онлайн-статистики</li>
                </ul>
                    <span>* детальное ТЗ составляется при обсуждении проекта</span>
            </div>
            <div class="col-4 right-page">
                <div class="box">
                    <br>
                <span>[БЕЗ НДС]</span>
                </div>
                <div class=" send-Btn text-center">
                    <button onclick="openResumeScreen()">Оставьте заявку <i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
        </div>
       </div>
       </div>
    </div>
</section>


{{> Footer/footer}}