<nav id="admin-navbar">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <div class="col-4 d-flex justify-content-start align-items-center">
                <i class="bi bi-list menu-admin-bars"></i>
                <i class="bi bi-x-circle"></i>
                <h4>{{title}}</h4>
            </div>
            <div class="col-3">
                <img class="img-fluid"
                    src="/images/major-icon/мажор вектор лого white.png" alt="">
                <a href="/">logOut</a>
            </div>
        </div>
    </div>
</nav>
<div class="fixed-right-menu">
    <h4>Major Media</h4>
    <ul>
        <li><a href="/admin/messageResume">Cообщение </a></li>
        <li><a href="/admin/cardModels">CARDS</a> </li>
        <li><a href="/admin/nashi-klienti">НАШИ КЛИЕНТЫ</a> </li>
        <li><a href="/admin/nashaComanda">НАША КОМАНДА</a> </li>
        <li><a href="#">ВИДЕО ОТЗЫВЫ </a> </li>
        <li><a href="/admin/portfolio">НАШЕ ПОРТФОЛИО</a> </li>
        <li><a href="/admin/priceUslugi">УСЛУГ ЦЕНЫ</a></li>
        <li><a href="/admin/aboutCompany">НАШИ ПРЕИМУЩЕСТВА</a></li>
        <li><a href="/admin/vakansiya">НАШИ ВАКАНСИИ</a> </li>
    </ul>
</div>

<script src="/javascripts/admin.js"></script>