 <!-- Section request Page -->
    <div class="section-request">
        <div class="container">
            <div class="section-request-title">
                <h1>БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ</h1>
            </div>
            <div class="col-xl-6 col-lg-7 p-0">
                <div class="section-request-body">
                    <h2>ОСТАВЬТЕ ЗАЯВКУ</h2>
                    <p>и получите индивидуальное коммерческое предложение в течение 30 минут </p>
                    <button onclick="openResumeScreen()">ОСТАВИТЬ ЗАЯВКУ</button>
                </div>
            </div>
            <img class="img-fluid" src="/images/people/request 2.png" alt="">
        </div>
    </div>