<!-- Consultation page -->
    <div class="section-consultation">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2>ХОТИТЕ ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ?</h2>
                    <p>Специалисты расскажут о процессе разработки и ответят на все ваши вопросы. У нас всегда действуют
                        индивидуальные скидки!</p>
                </div>
                <div class="col-5">
                    <button onclick="openResumeScreen()">КОНСУЛЬТАЦИЮ</button> <br>
                    <span>ИЛИ ПОЗВОНИТЕ ПО НОМЕРУ</span>
                    <a href="#" class="phone-number">+99877-010-80-00</a>
                </div>
            </div>
        </div>
    </div>
